<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - POP-UP!</title>
   
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Oops! Something went wrong.</h1>
        </div>
        <div class="row">
            <p style="text-align: center;">An error occurred while processing your request.</p>
        </div>
        <div class="row">
            <p style="text-align: center;">{{errorMessage}}</p>
        </div>
        <div class="row">
            <p style="text-align: center;"><a href="/">Return to Home Page</a></p>
        </div>
    </div>
    
</body>
</html>
