<div class="row">
    <form action="/beapop" method="get"></form>
    {{!-- <div class="ads">
        <div class="ads">Name:<input type="text" placeholder="enter your name"></div>
        <div class="ads">Surname:<input type="email" id="surname" placeholder="enter your surname"></div>
        <div class="ads">E-mail: <input type="email" id="myEmail" placeholder="john@example.com"></div>
        <div class="ads"><input type="file" id="myFile"></div>
        <div class="ads"><button onclick="myFunction()">Submit</button></div>
    </div>
    <p id="demo"></p>
    <p id="demo1"></p>

    <script>
        function myFunction() {
            var x = document.getElementById("myEmail").value;
            var y = " hi" + document.getElementById("surname").value;
            document.getElementById("demo1").innerHTML = x;
            document.getElementById("demo").innerHTML = y;
        }
    </script> --}}
    <div class="ads">
        <h1>CHOOSE A CATEGORY:</h1>
        <div class="ads">
            <a href="/housecat">House Rentals</a>
        </div>
        <div class="ads">
            <a href="">Car Rentals</a>
        </div>
        <div class="ads">
            <a href="">Clubs Near Me</a>
        </div>
        <div class="ads"><a href="">Markets</a></div>
    </div>
</div>