<div class="row">
    <h1 style="text-align: center;">Entertainment</h1>
    <canvas id="barGraph" height="20" width="100"></canvas>
    <script>const CHART = document.getElementById("barGraph");
        console.log(CHART);
        let barGraph = new Chart(CHART, {
            type: 'bar',
            data: {
                labels: ['Markets', 'Clubs'],
                datasets: [{
                    label: '#Most Popular By Votes',
                    data: [12, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <form action="/entertainment/jhb" method="GET">
        <div class="ads">
            <span>
                <a href="/entertainment/jhb/markets">
                    <h2>Markets</h2>
                </a>
                {{!-- <div> </div> --}}
            </span>


            <span><a href="/rentals/jhb/clubs">
                    <h2>Clubs</h2>
                </a>
                {{!-- <img src="joburg.jpg" width="23%" alt="johannesburg"> --}}
            </span>

            <br>
        </div>
</div>
</form>
