
 <div class="row">
  <!-- Top nav-->
  <form action="/regions" method="POST">
    <div class="logo">
      <h1>POP-UP!</h1>
      <p>The place that allows you make extra cash per day on your extras on
        your own time when needed!</p>
    </div>
    <hr />
  </form>
</div>

<div class="row">
  <div class="col-4"><a href="/cpt">
      <img src="./images/cape-town.jpg" class="rounded float-start"  alt="cape town" />
      <h2>Cape Town</h2>
    </a>
    <p>Cape Town is a port city on South Africa’s southwest coast, on a
      peninsula beneath the imposing Table Mountain. Slowly rotating cable cars
      climb to the mountain’s flat top, from which there are sweeping views of
      the city, the busy harbor and boats heading for Robben Island, the
      notorious prison that once held Nelson Mandela, which is now a living
      museum
    </p>
  </div>

  <div class="col-4">
    <a href="/jhb">
      <img src="./images/joburg.jpg" class="rounded float-start"  alt="joburg" />
      <h2>Jozi</h2>
    </a>
    <p>Cape Town is a port city on South Africa’s southwest coast, on a
      peninsula beneath the imposing Table Mountain. Slowly rotating cable cars
      climb to the mountain’s flat top, from which there are sweeping views of
      the city, the busy harbor and boats heading for Robben Island, the
      notorious prison that once held Nelson Mandela, which is now a living
      museum
    </p>

  </div>
  <div class="col-4">
    <a href="/dbn">
      <img src="./images/dbn.jpg" class="rounded float-start" alt="durban" />
      <h2>Durban</h2>
    </a>
    <p>Cape Town is a port city on South Africa’s southwest coast, on a
      peninsula beneath the imposing Table Mountain. Slowly rotating cable cars
      climb to the mountain’s flat top, from which there are sweeping views of
      the city, the busy harbor and boats heading for Robben Island, the
      notorious prison that once held Nelson Mandela, which is now a living
      museum</p>

  </div>
</div>
