<div class="row">
    <h1 style="text-align: center;">Houses</h1>
    <canvas id="barGraph" height="20" width="100"></canvas>
    <script>const CHART = document.getElementById("barGraph");
        console.log(CHART);
        let barGraph = new Chart(CHART, {
            type: 'bar',
            data: {
                labels: ['Bachelor', 'Medium', 'More Spacious'],
                datasets: [{
                    label: '#Most Popular By Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <form action="/rentals/jhb/houses" method="GET">
        {{!-- <a href="">
        </a> --}}
        <div class="ads">
            <span>
                <a href=""><img src="/public/house-1.jpg" width="23%" alt="Kagiso"></a>
                <p>I have on bachelor that im renting for R150 a day please contact me on 0616276795</p>
                <input type="text" name="inputString" id="">
                <button>submit</button>
            </span>
            <span> <a href=""><img src="" width="23%" alt="Siphiwe"></a>
                <p>I have on mid sized home that im renting for R450 a day please contact me on 0785446523</p>
                <input type="text" name="inputString" id="">
                <button>submit</button>
            </span>
            <span> <a href=""><img src="" width="23%" alt="Nkateko"></a>
                <p>I have on the luxurious house that im renting for R1500 a day please contact me on 0654475251</p>
                <input type="text" name="inputString" id="">
                <button>submit</button>
            </span>
            <br>
        </div>
    </form>
</div>