<div class="row">
   <form action="/rentals/jhb/houses" method="GET">
        <a href="/rentals/jhb/houses/popstars">
            <h1 style="text-align: center;">PopStars!</h1>
        </a>
         <div class="ads">
            <span>
                 <a href=""><img src="" width="23%" alt="Kagiso"></a>
                 <p>I have on bachelor that im renting for R150 a day please contact me on 0616276795</p>
            </span>
            <span> <a href=""><img src="" width="23%" alt="Siphiwe"></a>
           <p>I have on mid sized home that im renting for R450 a day please contact me on 0785446523</p>
            </span>
            <span> <a href=""><img src="" width="23%" alt="Nkateko"></a>
            <p>I have on the luxurious house that im renting for R1500 a day please contact me on 0654475251</p>
           
            </span>
            <br>
        </div>
    </form>
</div>