<div class="row">
    <h1 style="text-align: center;">Rentals</h1>
    <canvas id="barGraph" height="20" width="100"></canvas>
    <script>const CHART = document.getElementById("barGraph");
        console.log(CHART);
        let barGraph = new Chart(CHART, {
            type: 'bar',
            data: {
                labels: ['House Rentals', 'Cars Rentals'],
                datasets: [{
                    label: '#Most Popular By Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <form action="/rentals/jhb" method="GET">
        
        <div class="ads">
            <span>
                <a href="/rentals/jhb/houses">
                    <h2>House Rentals</h2>
                </a>
                <p>from bachelors to medium sized or even luxury accomodataion from your local popstar</p>
            </span>


            <span><a href="/rentals/jhb/cars">
                    <h2>Car Rentals</h2>
                </a>
                <p>whether you want luxury or just a car to get by we have everything from your fellow popstars</p>
                {{!-- <img src="joburg.jpg" width="23%" alt="johannesburg"> --}}
            </span>

            <br>
        </div>
</div>
</form>
